@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.bg-custom {
  background-image: url('/pink-logo-spiderman.png');
  background-size: 70%;
  background-position: 77% 30%;
  background-repeat: no-repeat;
}
